li {
    /*color: red; /* bullet color */
    font-size: 30px;
  }
  li span {

    font-size: 12px;
    margin-top: -10px;
    color: black; /* text color */
  }

  .token {
    color: red; 
    height: 60;
    width: 60;
    border-radius: 50%;
    display: inline-block;
}