
<style>
     
    .content {
      display: flex;
      margin: 22px auto 32px;
      padding: 0 16px;
      max-width: 960px;
      flex-direction: column;
      align-items: center;
    }
   
    .terminal {
      position: relative;
      width: 80%;
      max-width: 600px;
      border-radius: 6px;
      padding-top: 45px;
      margin-top: 8px;
      overflow: hidden;
      background-color: rgb(15, 15, 16);
    }
  
    .terminal::before {
      content: "\2022 \2022 \2022";
      position: absolute;
      top: 0;
      left: 0;
      height: 4px;
      background: rgb(58, 58, 58);
      color: #c2c3c4;
      width: 100%;
      font-size: 2rem;
      line-height: 0;
      padding: 14px 0;
      text-indent: 4px;
    }
  
    .terminal pre {
      font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
      color: white;
      padding: 0 1rem 1rem;
      margin: 0;
    }
</style>

<div class="content" role="main">

  <!-- Terminal -->
  <div class="terminal" >
      <pre >Account: {{ account }}</pre>
      <pre >Balance: {{ balance }} wei</pre>
  </div>

  <div class="terminal" >
    <pre >NFT Contract: {{ infoNFTs?.contractAddress }}</pre>
    <pre >Total Supply: {{ infoNFTs?.totalSupply }} NFTs</pre>
    <pre >NFTs: {{ infoNFTs?.NFTs }}</pre>
  </div>

  <!--div> 
    NO ANDA LA PROPUESTA DE AMENGUAL
    <h3>NFTs</h3>
    <div *ngFor="let nft of infoNFTs?.NFTs" className="col-md-3 mb-3" >
      <div className="token" [ngStyle]="{'background-color':nft}"></div>
      <div>{{nft}}</div>
    </div>
  </div-->  
  
  <div>
    <h3>NFTs</h3>
    <hr>
    <ul>
      <li *ngFor="let nft of infoNFTs?.NFTs" [ngStyle]="{'color':nft}">
        <span> {{ nft }} </span>
      </li>
    </ul>
  </div>

  <div>
    <h3>Nuevo NFT</h3>
    <hr>
    
    <input id="new-nft" #nft />

    <!-- (click) passes input value to add() and then clears the input -->
    <button class="add-button" (click)="agregar(nft.value); nft.value=''">
      Agregar NFT
    </button>
    <!--form (ngSubmit)="agregar()">
        <input 
            type="text" 
            placeholder="Nombre" 
            name="nombre"
            [(ngModel)]="nuevoNFT"
        />

    
        <button type="submit">
            Agregar
        </button>
    
    </form-->
  </div>


</div>
